# Project exclude paths
/.gradle/
/Simple Tic-Tac-Toe/task/build/
/Simple Tic-Tac-Toe/task/out/
/Simple Tic-Tac-Toe/task/out/production/classes/
/Topics/Declaring functions/Right equation/out/
/Topics/Declaring functions/Right equation/out/production/classes/
/Topics/For loop and lists/For loops task/out/
/Topics/For loop and lists/For loops task/out/production/classes/
/Topics/Integers in action/The last digit of a number/out/
/Topics/Integers in action/The last digit of a number/out/production/classes/
/Topics/Ranges/Between two numbers/out/
/Topics/Ranges/Between two numbers/out/production/classes/
/Topics/Reading data with a readln/Theory/out/
/Topics/Reading data with a readln/Theory/out/production/classes/
/Topics/Repeating blocks/Print a string exactly ten times/out/
/Topics/Repeating blocks/Print a string exactly ten times/out/production/classes/
/Topics/String templates/Repetitions and templates/out/
/Topics/String templates/Repetitions and templates/out/production/classes/
/Topics/Type conversion/Cutting the fraction/out/
/Topics/Type conversion/Cutting the fraction/out/production/classes/
/Topics/Type conversion/The superior forces of the Empire/out/
/Topics/Type conversion/The superior forces of the Empire/out/production/classes/
/Topics/Working with strings/N-th symbol/out/
/Topics/Working with strings/N-th symbol/out/production/classes/
/Topics/Working with strings/Name Card/out/
/Topics/Working with strings/Name Card/out/production/classes/
/Topics/Working with strings/The number of tens/out/
/Topics/Working with strings/The number of tens/out/production/classes/